@font-face {
    font-family: "xmake-icons";
    src: url("./xmake-icons.woff?026ad485fd20330843f33f54bbfd5819") format("woff");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: xmake-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-xmake-logo:before {
    content: "\f101";
}
.icon-xmake-build:before {
    content: "\f102";
}
